.profile__edit-button {
  width: 24px;
  height: 32px;
  margin: 33px 0 0 13px;
  background-color: black;
  padding: 0;
  border-width: 0px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../../../images/edit-button.svg);
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px){
.profile__edit-button {
  margin: 8px 0 0 10px;
  background-size: 18px;
  height: 24px;
  }
}
