.profile__adding-button {
  width: 150px;
  height: 50px;
  background-color: black;
  border: #ffffff 2px solid;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
}

.profile__adding-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__adding-button {
    width: 282px;
    background-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .profile__adding-button {
    width: 100%;
  }
}
