.element__like-button {
  background-color: #fff;
  border: none;
  display: block;
  font-size: 0;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.5;
}

.element__like-button:active  {
  fill: #000;
  opacity: 1;
}
