.profile__info {
  max-width: 920px;
  display: grid;
  grid-template-areas: "name button";
}

@media screen and (max-width: 767px) {
.profile__info {
    gap: 3px 1.25px;
    margin-top: 29px;
    left: 45px;
    bottom: 19px;
    position: relative;
    text-align: center;
}
}
