.profile__job {
  max-width: 500px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 91px;
}

@media screen and (max-width: 1023px) {
  .profile__job {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .profile__job{
    font-size: 14px;
    height: 14px;
    line-height: 17px;
    line-height: 100%;
    max-width: 205px;
  }
}
